body{
    background: linear-gradient(149deg, rgb(2, 51, 21) 5%, rgb(39, 140, 5) 61%, rgba(84, 187, 10, 0.894) 100%);
}

#titulo{
    display: flex;
    color: #00ff73;
    font-family: 'Times new roman', cursive; 
}

#titulo h1{
    width: 100%;
    margin-left: 0.5em;
}

.input_select {
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    appearance:none;
    outline:0;
    box-shadow:none;
    border:0!important;
    background: #03071e;
    background-image: none;
    flex: 1;
    padding: 0 .5em;
    color:#08ff18;
    cursor:pointer;
    font-size: 1em;
    font-family: 'Arial';
 }
.input_select::-ms-expand {
    display: none;
 }

.input_select {
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    line-height: 3;
    background: #03071e;
    overflow: hidden;
    border-radius: .25em;
 }
.input_select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #2b2e2e;
    cursor:pointer;
    pointer-events:none;
    transition:.25s all ease;
 }
.input_select:hover::after {
    color: #23b499;
 }

.input_select{
    font-family:'Arial';
    margin-left: 15px;
}

#textbox_calculo{
    width: 10em;
    line-height: 2;
    background: #03071e;
    overflow: hidden;
    border-radius: .25em;
    margin-left: 15px;
    color:#08ff39;
    font-family: 'Arial';
    text-align: center;
    font-weight: bold;
}

.button_style {
  background-color: #04632c;
  border-radius: 100px;
  color: #55ff00;
  cursor: pointer;
  display: inline-block;
  font-family: 'Arial';;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 10px;
}

.button_style:hover {
  transform: scale(1.05) rotate(-1deg);
}

.tituloInline{
    font-family: 'Arial';
    margin-left: 20px;
    color: #08ff35;
}

#selector_columnas{
    font-family: 'Arial';
    display: flex;
    color: #07fa34;
    justify-content: center;
    padding: 20px;
    max-width:fit-content;
    margin: 10px;
    box-shadow: 10px 5px 5px #08ff52;   
}

table th{
    font-family: 'Arial';
    background-color: #03071e;
    border: solid 1px #08ff25;
    cursor:pointer;
    color: #08ff21;
}
table{
    border: 1;
    margin-top: 40px;
}

td{
    border: solid 1px #08ff46;
    text-align: -internal-center;
    text-align: center;
}

tr:hover{
    background-color:#03071e;
}

table {
    border-spacing: 0px;
    height: auto;
    font-family: 'Arial';
    color: #08ff08;
}

#agregar_btn{
    margin: 20px;
}

#select_tipo{
    width: auto;
}


.id{
    width: 70px;
}

.modelo{
    width: 150px;
}

.anoFab{
    width: 150px;
}

.velMax{
    width: 70px;
}

.altMax{
    width: 150px;
}

.autonomia{
    width: 150px;
}

.cantPue{
    width: 100px;
}

.cantRue{
    width: 150px;
}


.label_formulario{
    display: block;
}

#formularioAlta{
    display: grid;
    grid-template-columns: repeat(2, 300px);
    justify-content: center;
    align-items: center;
    padding: 10px;
    column-gap: 10px;
    row-gap: 20px;
}
.input_alta_terrestre{
    display: grid;
    grid-template-columns: repeat(2, auto);
    row-gap: 20px;

}
.input_alta_aereo{

    display: grid;
    grid-template-columns: repeat(2, auto);
    row-gap: 20px;
}
.BtnEliminar
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 160px;
    height: 25px;
    text-align-last: center;
    font-size: 15px;  
    border-color: black;
    border-width: 0.5px;
    border-radius: 5px;
    margin-top: 4px;
}
.BtnModificar
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 160px;
    height: 25px;
    text-align-last: center;
    font-size: 15px;  
    border-color: black;
    border-width: 0.5px;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 4px;
}

form{
    width: 50%;
    margin: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.8px);
    -webkit-backdrop-filter: blur(5.8px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    font-family: 'Arial';
    color: #08ff39;
}

form input{
    line-height: 2;
    background: #03071e;
    overflow: hidden;
    border-radius: .25em;
    margin-left: 15px;
    color:#08ff25;
    font-family: 'Arial';
    text-align: center;
    font-weight: bold;
}

.container_botones{
    display: flex;
    justify-content: center;
    margin: 20px;
}

#titulo_form{
    display: flex;
    justify-content: center;
}

#mensaje_error{
    font-family: 'Arial';
    color: #08ff08;
    font-style: italic;
    justify-content: center;
    display: none;
}










